<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.propertiesinmapperfiles.Mapper">

    <select id="getUser" resultType="org.apache.ibatis.submitted.propertiesinmapperfiles.User">
        select *
        from users
        where ${property} = #{id}
    </select>

    <select id="getByCrit" resultType="org.apache.ibatis.submitted.propertiesinmapperfiles.User">
        select *
        from users
        where '1' = '1'
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER, javaType=int}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

</mapper>
